body {
color: white;
background-color: #4F8BF9;

}
.container {
height: 500px;
}
.stButton>button {
background-color: gray;
border: none;
color: white;
padding: 16px 32px;
text-align: center;
text-decoration: none;
display: inline-flex;
border-radius: 10px;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.2s;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);

}
.stButton>button:focus:not(:active) {
border-color: #ffffff;
box-shadow: none;
color: #ffffff;
background-color: #cc0000;
}
.stButton>button:focus(:active) {
border-color: white;
box-shadow: none;
color: white;
background-color: #cc0000;
}
.stButton>button:focus(:active){
background-color: #cc0000;
border-color: white;
box-shadow: none;
color:white;
background-color: #cc0000;
}


.stHeader {
color: #f94f4f;
}
.stButton>button:hover{color:white;}

.stButton>button:focus{color:white;}


.chat {
width: 300px;
display: flex;
flex-direction: column;
padding: 10px;
}

.messages {
margin-top: 30px;
display: flex;
flex-direction: column;
}

.message {
border-radius: 0.1%;
padding: 10px 17px;
margin-top: 5px;
margin-bottom: 5px;
display: inline-block;
}




.mine {
align-items: flex-end;
}

.mine .message {
background-color: rgb(67, 91, 68);
border: none;
color: white;
padding: 10px 22px;
text-align: center;
text-decoration: none;
display: inline-flex;
border-radius: 10px;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.2s;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
}



.yours {
align-items: flex-start;
}

.yours .message {
background-color: #0a4b35;
border: none;
color: white;
padding: 10px 22px;
text-align: center;
text-decoration: none;
display: inline-flex;
border-radius: 10px;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.2s;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);

}








.stTextInput>div>div>input {
background-color: #bdd1ca3a;
border: none;
color: black;
padding: 10px 22px;
text-decoration: none;
display: inline-flex;
border-radius: 10px;
font-size: 16px;
margin: 4px 2px;
transition-duration: 0.2s;
box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);

}


.stTextInput>div>div>input:hover {
  background-color: #000000;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 22px;
  text-decoration: none;
  display: inline-flex;
  border-radius: 10px;
  font-size: 42px;
  margin: 4px 2px;
  transition-duration: 0.2s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.459), 0 20px 20px 0 rgba(61, 61, 61, 0.589);
  
  }